<div class"page-header"><h1> Question information </h1></div>
<br>

<h3>Question: </h3>
<p><%= @question.str %></p>
<h3>Answer Type:</h3>
<p><%= @question.ans_type %></p>
<%= link_to "Edit", edit_question_path %><br>
