<% if user_signed_in? %>
<br>


<p>
  <a href="javascript:history.back()" class="btn btn-primary" role="button">
    <span class="glyphicon glyphicon-arrow-left"></span> Back
  </a>

  <a href="#top" class="btn btn-primary" role="button">
    <span class="glyphicon glyphicon-arrow-up"></span> Top
  </a>
</p>


<% end %>
