<h1> Edit Review </h1>

<%= render 'form' %>


<%= link_to 'View', @review %><br>
<%= link_to 'All Reviews', reviews_path %><br>
<%= link_to 'Delete (broken)', reviews_path(@review.id), method: :delete, data: { confirm: 'Are you sure?' } %><br>
