<div class="page-header"><h1> Reviews </h1></div>
<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Review name:</th>
      <th>Show:</th>
      <% if current_user.super_admin %>
        <th>Edit:</th>
        <th>Delete:</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
    <tr>
      <td><%= review.review_name %></td>
      <td><%= link_to "Show", review %></td>
      <% if current_user.super_admin %>
        <td><%= link_to "Edit", edit_review_path(review) %></td>
        <td><%= link_to "Delete", review, method: :delete, data: {confirm: "Are you sure?" }%></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
