<h1> A Review </h1>

<%= @review.review_name %><br>

side bar navigation<br>
<%= link_to "Add Questions", edit_review_path %><br>
<%= link_to "Edit", edit_review_path %><br>
<%= link_to "show Questions", questions_review_path %><br>
